
<div class="py-6">
	<div class="mx-auto max-w-3xl">
		<h1 class="text-xl">{{@post.title}}</h1>
		<p class="text-sm text-gray-500">{{@post.text}}</p>
		<Comments::CommentContainer
			@post={{@post}}
			@submitComment={{this.submitComment}}
		/>
	</div>
</div>