<div class="overflow-hidden">
	<div class="ml-4 mt-2">
		<h3 class="text-lg font-medium ">{{@content.title}}</h3>
		<p>
			{{{@content.description}}}
		</p>
	</div>
	<div class="ml-4 mt-2 flex-shrink-0">
		<LinkTo @route='tokens.token.posts.create'>
			<button type="button" class="btn btn-wide btn-primary">Create Post</button>
		</LinkTo>
	</div>
</div>