{{page-title "Post"}}
<div class="py-6">
	<div class="mx-auto max-w-3xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-12 lg:gap-8 lg:px-8">
		<div class="hidden lg:col-span-3 lg:block xl:col-span-2">

		</div>
		<main class="lg:col-span-9 xl:col-span-7">
			<Posts::Post @post={{this.model.post}} @canEdit={{false}} />
		</main>
	</div>
</div>


