<div class="relative ml-4 flex-shrink-0">
	<div>
		<div class="inline-block h-8 w-8 overflow-hidden rounded-full bg-blue-100">
			<div id="login" {{on "click" (fn this.deployDropdown 'true')}}>
				<svg class="text-indigo-900" fill="currentColor" viewBox="0 0 24 24">
					<path  d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
				</svg>
			</div>
		</div>
	</div>
	{{#if this.isOpen}}
		<Ui::Nav::NavLoginForms @deployDropdown={{this.deployDropdown}} />
	{{/if}}
</div>
