<div>
	<label for="comment" class="block text-sm font-medium text-gray-700 sr-only">Add your comment</label>
	<div class="mt-1">
		<textarea rows="4" name="comment" id="comment" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="Add your comment..."></textarea>
	</div>
	<div class="mt-2 flex justify-end">
		<button type="submit" class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Post</button>
	</div>
</div>