{{page-title "Public"}}
<div class="py-6">
	<div class="mx-auto max-w-3xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-12 lg:gap-8 lg:px-8">
		<div class="hidden lg:col-span-3 lg:block xl:col-span-2">
			{{!-- <Ui::Sidebar::NavItems @items={{this.model.content}}/> --}}
		</div>
		<main class="lg:col-span-9 xl:col-span-7">
			<Posts::PublicPosts @posts={{this.model.posts}} />
			{{outlet}}
		</main>
	</div>
</div>