{{page-title "Tokens"}}
<div class="py-6">
	<div class="mx-auto max-w-3xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-12 lg:gap-8 lg:px-8">
		<Ui::Sidebar::NavItems @items={{this.model}}/>
		{{outlet}}
	</div>
</div>
